body {
    background: top left/cover url("./images/background.jpg");
}

/* ~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~ */

h1 {
    background-color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    text-align: center;
    text-shadow: 5px 5px 5px lightgrey;
}

/* ~~~~~~~~~~~~~~~~ MAIN ~~~~~~~~~~~~~~~~ */

main {
    background-color: whitesmoke;
    width: 50%;
    min-width: 360px;
}

img {
    display: block;
    max-width: 70%;
    height: auto;
    margin: auto;
}

h2, h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    color: lightslategrey;
    text-shadow: 1px 1px 1px black;
}

ul, ol {
    font-size: 1.2em;
    list-style: square;
}

/* ~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~ */

footer p {
    background-color: #57645d;
    color: whitesmoke;
    text-align: center;
}